.header {
  &__navbar {
    background: rgba(8, 30, 91, 1);
    border-bottom: 1px solid rgb(73, 73, 73);
    .navbar-brand, .nav-link {
      color: white;
    }
    .navbar-brand {
      font-size: 24px;
    }
    .nav-link {
      font-size: 18px;
      &:hover {
        color: rgb(219, 216, 216);
      }
    }
  }
}