.icoconsul{
  position: absolute;
  left: 3px;
  top: 0px;
  padding-top: 4px;
  padding-left: 20px;
 font-size: 28px;
color: rgba(0, 0, 0, 0.8) ;
}

.icouserper{
  position: absolute;
  left: 3px;
  top: 0px;
  padding-top: 0px;
  padding-left: 20px;
 font-size: 28px;
color: rgba(0, 0, 0, 0.8) ;
}

.impoutperfil{
padding-left: 40px;
}

.impoutperfil2{
padding-left: 36px;
}

.icodirec{
  position: absolute;
  left: 8px;
  top: 0px;
  padding-top: 4px;
  padding-left: 16px;
 font-size: 28px;
color: rgba(0, 0, 0, 0.8) ;
}

.icocalendario4{
  position: absolute;
  left: 2px;
  top: 0px;
  padding-top: 6px;
  padding-left: 20px;
 font-size: 24px;
color: rgba(0, 0, 0, 0.8) ;
}

.icocatlf{
  position: absolute;
  left: 3px;
  top: 0px;
  padding-top: 6px;
  padding-left: 20px;
 font-size: 24px;
color: rgba(0, 0, 0, 0.8) ;
}

.icocatlf2{
  position: absolute;
  left: 3px;
  top: 0px;
  padding-top: 6px;
  padding-left: 20px;
 font-size: 30px;
color: rgba(0, 0, 0, 0.8) ;
}

.icopais{
  position: absolute;
  left: 8px;
  top: 0px;
  padding-top: 6px;
  padding-left: 20px;
 font-size: 24px;
color: rgba(0, 0, 0, 0.8) ;
}

.iconcontra{
  position: absolute;
  left: 3px;
  top: 0px;
  padding-top: 0px;
  padding-left: 20px;
 font-size: 26px;
color: rgba(0, 0, 0, 0.8) ;
}